
*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

li a {
    color: green;
    text-decoration: none;
    font-size:24px ;
    font-family:'Poppins', sans-serif;
}


body {
    background: white url("images/Building\ 4.png") no-repeat;
    background-position: center;
}

